.logo {
    max-width: 45px;
    margin: 5px;
}

.header .ant-menu {
    border: none;
    margin-top: 5px;
}

.searchInput{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

.headerMenu{
    display: flex;
}

.header {
    border-bottom: 1px solid #dedede;
}
